Description: OpenCockpit
Maintainer: xcentaurix
Package: enigma2-plugin-extensions-opencockpit
Version: 0.2.9
Architecture: all
Depends: enigma2-plugin-extensions-moviecockpit, enigma2-plugin-systemplugins-powercockpit, enigma2-plugin-extensions-timeshiftcockpit, enigma2-plugin-extensions-piconcockpit, enigma2-plugin-extensions-tmdbcockpit
